<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form class="form" action="/register" method="post">
  <input class="input" type="text" placeholder="Ваше имя" name="first_name">
  <input class="input" type="text" placeholder="Ваша фамилия" name="last_name">
  <input class="input" type="email" placeholder="Ваш e-mail" name="email">
  <input class="input" type="password" placeholder="Пароль" name="password">
  <input class="input" type="password" placeholder="Пароль еще раз" name="password2">
  <button class="btn" type="submit">Войти</button>
  <button class="btn" type="submit">Регистрация</button>
</form>


</body>
</html>